# Python runtime magic
**/env
__pycache__
.pytest_cache

# Various todo notes in any format
*todo*

# Custom notes
papers
conspects

# Tooling repositories
py-aiger
satencodings
minisat
cryptominisat
transalg
victor-data
abc
aiger
cryptominisat*

Transalg.exe

data_dist

*.txt

pics
pics-predefence-2
ganak
employment-docs
MaplePainless-DC

cnf_data
ganak_data
icnf_binaries
*.cnf
*.alg
*.aag
icnf_data
*.zip
